<form class="search-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input
    type="text"
    placeholder="What image do you want in your meme?"
    name="image"
    class="field"
    formControlName="image"
    >
    <app-button [label]="'search'" [temLoader]="true" (click)="onSubmit()"></app-button>
  </form>